cdk/cdk/step/step_definition.json
{
  "Comment": "State Machine to Validate entries in Third Party Marketplace Database",
  "StartAt": "Pass",
  "States": {
    "Pass": {
      "Comment": "A Pass state passes its input to its output, without performing work. Pass states are useful when constructing and debugging state machines.",
      "Type": "Pass",
      "Next": "All Entries"
    },
    "All Entries": {
      "Comment": "For each of the entry we need the same function to be invoked",
      "Type": "Map",
      "Next": "Hello World",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Check Entry",
        "States": {
           "Insert": {
            "Type": "Pass",
            "End":true
            },
            "Delete": {
              "Type": "Fail",
              "Cause": "Not implemented Delete checks yet"
            },
            "Check Entry": {
            "Comment": "A Choice to see if the first entrys->eventName is INSERT Choice rules can implement 16 different comparison operators, and can be combined using And, Or, and Not",
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.eventName",
                "StringEquals": "INSERT",
                "Next": "Insert"
              },
              {
                "Variable": "$.eventName",
                "StringEquals": "MODIFY",
                "Next": "Insert"
              },
              {
                "Variable": "$.eventName",
                "StringEquals": "DELETE",
                "Next": "Delete"
              }
            ],
            "Default": "Delete"
          }
        }
      }      
    },           
    "Hello World": {
      "Type": "Pass",
      "End": true
    }
  }
}

